h1
{
	text-align: center;
	display: grid;
}
a
{
	margin: auto;
	color: black;
	outline-color: blue;
	text-decoration: none;
}
a:hover
{
	color: blue;
}
li
{
	display: block;
}

li
{
	margin-top: 0;
}

#list
{
	-webkit-margin-before: 1em;
}

#SearchDiv
{
	background: white;
	position: fixed;
	width: 100%;
	top: 0;
}

#Search
{
	display: grid;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 25%;
	font-size: 20px;
	border-radius: 15px;
	border-color: #000;
	border-width: 2px;
	outline: 0;
}